html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
}
.annotation {
  transform: translate3d(calc(50%), calc(-50%), 0);
  text-align: left;
  background: #181c20;
  color: #8c92a4;
  padding: 150px 130px;
  border-radius: 200px;
  user-select: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 300px;
}

.annotation::before {
  content: '';
  position: absolute;
  top: 300px;
  left: -490px;
  height: 40px;
  width: 500px;
  background: #181c20;
}
